<footer class="footer mt-auto py-3 border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <span>{{ site.description }}</span>
            </div>
            <div class="col-lg-3 col-sm-12">
                {% include contact.html %}
            </div>
        </div>
    </div>
</footer>
<script src="{{ "/dist/common.js" | prepend: site.baseurl }}"></script>

{% if page.toc %}
<script src="{{ "/dist/anchor.js" | prepend: site.baseurl }}"></script>
{% endif %}