<footer class="footer mt-auto py-3 border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <span>{{ site.description }}</span>
            </div>
            <div class="col-lg-3 col-sm-12">
                {% include contact.html %}
            </div>
        </div>
    </div>
</footer>
<script src="{{ "/dist/js/common.js" | prepend: site.baseurl }}"></script>
{% if page.toc %}
<script src="{{ "/dist/js/anchor.js" | prepend: site.baseurl }}"></script>
{% endif %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      messageStyle: "none",
      tex2jax: {
        inlineMath: [["\\(", "\\)"]],
        displayMath: [["\\[", "\\]"]],
        ignoreClass: "nostem|nolatexmath"
      },
      asciimath2jax: {
        delimiters: [["\\$", "\\$"]],
        ignoreClass: "nostem|noasciimath"
      },
      TeX: { equationNumbers: { autoNumber: "none" } }
    });
</script>
<script src="/dist/mathjax/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
