<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var clientId = '8446d1cf5ca4a2a8cde3'
    var clientSecret = '764411887b93d958b7e26c0faf64a69f9485d2ed'
    var gitment = new Gitment({
        id: '{{ page.id }}',
        owner: 'runphp',
        repo: 'blog.runphp.net',
        oauth: {
            client_id: clientId,
            client_secret: clientSecret,
        },
    });

    gitment.render('container');
</script>