<header class="navbar navbar-expand-lg sticky-top shadow-sm bg-body">
    <nav aria-label="Main navigation" class="container bd-navbar">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand logo" href="{{'/' | absolute_url}}">
            <img src="/assets/icons/logo.svg" alt="Logo" width="40" height="32" class="d-inline-block me-2"/>
            <span class="d-none d-lg-inline d-xl-inline">{{ site.title }}</span>
        </a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title logo" id="offcanvasNavbarLabel" aria-hidden="true">
                    <img src="/assets/icons/logo.svg" alt="Logo" width="40" height="32" class="d-inline-block"/>
                    <span class="d-inline">{{ site.title }}</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                        data-bs-target="#offcanvasNavbar"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 gap-lg-3">
                    {% for p in site.data.primary_nav %}
                    <li class="nav-item">
                        <a class="nav-link{%- if p.link == '/' %}{% if page.url == '/' %} active {% endif %}{% else %}{%- if page.url contains p.link %} active{% endif %}{% endif %}"
                           href="{{ p.link | absolute_url }}">
                            <i class="d-lg-none bi bi-{{p.icon}} pe-sm-1" aria-hidden="true"></i>
                            {{ p.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="d-flex align-items-center dropdown color-modes">
            <button class="btn btn-link px-0 text-decoration-none dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (auto)">
                <span class="me-2 my-1 theme-icon-active"><i class="bi bi-circle-half"></i></span>
                <span class="ms-2 d-none d-lg-inline d-xl-inline" id="bd-theme-text">主题切换</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 8rem;">
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                        <span class="me-2 opacity-50 theme-icon">
                            <i class="bi bi-sun-fill"></i>
                        </span>
                        明亮
                        <i class="bi bi-check2 opacity-75 ms-auto d-none"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                        <span class="me-2 opacity-50 theme-icon">
                            <i class="bi bi-moon-stars-fill"></i>
                        </span>
                        黑暗
                        <i class="bi bi-check2 opacity-75 ms-auto d-none"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                        <span class="me-2 opacity-50 theme-icon">
                            <i class="bi bi-circle-half"></i>
                        </span>
                        自动
                        <i class="bi bi-check2 opacity-75 ms-auto d-none"></i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>