// Custom.scss
@import "bootstrap-5.3.1/bootstrap";
@import "bootstrap-icons";
@import "syntax-highlighting";
@import "variables";


body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

// table of contents
.toc {
  top: 4rem;
  @media (min-width: 992px) {
    height: calc(100vh - 7rem);
    overflow-y: auto;
  }
  ul {
    list-style: none;
  }
  li {
    @extend .justify-content-between,.text-truncate;
    a {
      display: block;
      padding: $nav-link-padding-y $nav-link-padding-x;
      color: $link-color;
      border-left: 2px $border-style $border-color;
    }

    a:hover, a.active {
      color: $nav-link-hover-color;
      border-left: 2px $border-style $link-hover-color;
    }
  }
}