---
layout: default
---
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="{{'/' | absolute_url}}">Home</a></li>
        <li class="breadcrumb-item active">{{ page.title }}</li>
    </ol>
</nav>
<ul class="list-group list-group-flush shadow-sm my-3">
    {% for post in page.posts %}
    <li class="list-group-item list-group-item-action">
        <small class="text-info-emphasis">{{ post.date | date:"%Y-%m-%d %H:%M:%S" }}</small>
        <div class="d-flex w-100 justify-content-between">
            <a href="{{ post.url | prepend: site.baseurl }}" class="stretched-link">{{ post.title }}</a>
        </div>
    </li>
    {% endfor %}
</ul>

<div class="row mb-3 row-cols-lg-2 row-cols-1 gy-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-bookmarks m-1"></i>分类</h5>
                {% for category in site.categories %}
                {% capture category_name %}{{ category | first }}{% endcapture %}
                    <a class="btn m-1" href="{{'/' | append:category_name | absolute_url }}/">
                        <i class="bi bi-bookmark" aria-hidden="true"></i>
                        {{ category_name }}
                        <span class="badge text-bg-danger">{{site.categories[category_name].size}}</span>
                    </a>
                    {% unless forloop.last %}<div class="vr"></div>{% endunless %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-tags m-1" aria-hidden="true"></i>标签</h5>
                {% for tag in site.tags %}
                {% capture tag_name %}{{ tag | first }}{% endcapture %}
                    <a class="btn m-1" href="{{'/' | append:tag_name | absolute_url }}/">
                        <i class="bi bi-tag" aria-hidden="true"></i>
                        {{ tag_name }}
                        <span class="badge text-bg-danger">{{site.tags[tag_name].size}}</span>
                    </a>
                    {% unless forloop.last %}<div class="vr"></div>{% endunless %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>