---
layout: default
---
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 mt-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item"><a href="{{'/' | absolute_url}}">Home</a></li>
        <li class="breadcrumb-item active">
            <a href="{{ '/' | append:page.category | absolute_url }}/">{{ page.category }}</a>
        </li>
    </ol>
</nav>
<article class="post p-3" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header border-bottom mb-4">
        <h1 class="post-title fw-semibold" itemprop="name headline">{{ page.title }}</h1>
        <div class="post-meta text-muted">
            {% if page.author %}
            <span class="bi bi-person px-1" aria-hidden="true"></span>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span>
            </span>
            {% endif %}

            <span class="bi bi-clock-history px-1" aria-hidden="true"></span>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date:"%Y-%m-%d %H:%S:%M" }}
            </time>
        </div>
    </header>

    <div class="post-content" itemprop="articleBody">
        {% if page.toc %}
        <div class="row">
            <div class="toc sticky-lg-top col-lg-4 order-lg-1">
                {{ content | toc_only }}
            </div>
            <div class="col-lg-8 order-lg-0" data-bs-spy="scroll" data-bs-target="#toc" data-bs-smooth-scroll="true" tabindex="0">
                {{ content | inject_anchors }}
            </div>
        </div>
        {% else %}
        {{ content }}
        {% endif %}
    </div>

</article>

<!-- tags -->
{% if page.tags.size > 0 %}
<div class="p-3">
    <i class="bi bi-tags" aria-hidden="true"></i>
    {% for tag in page.tags %}
    <a class="link-underline-info" href="{{ '/' | append:tag | absolute_url }}/">{{ tag }}</a>
    {% unless forloop.last %},{% endunless %}
    {% endfor %}
</div>
{% endif %}

<div class="row mb-3">
    <span class="col-lg-6 col-sm-12">
    {% if page.previous.url %}
        <i class="bi bi-arrow-left mx-1" aria-hidden="true"></i>
        <a class="link-underline-secondary" href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %}
    </span>
    <span class="col-lg-6 text-lg-end">
    {% if page.next.url %}
        <i class="bi bi-arrow-right float-lg-end mx-1" aria-hidden="true"></i>
        <a class="link-underline-secondary" href="{{page.next.url}}">{{page.next.title}}</a>
    {% endif %}
    </span>
</div>


{% include gitalk.html %}